__pycache__/
/.pybuild/
/.pytest_cache/
/src/*.egg-info/
/*-image.raw
/*-image.vhd
/image-*.info
/image-*.raw
/image-*.tar
/image-*.build.json
/image-*.build-fai.json
/image-*.build.junit.xml
/image_*.build.json
/image_*.build.junit.xml
/image_*.dpkg-status
/image_*.fsuuid
/image_*.info
/image_*.partuuid
/image_*.raw
/image_*.tar
